@charset "UTF-8";
/* 回答はここから */

.text-box {
  display: inline-block;
  width: 90px;
  background-color: #a4b3e9;
  font-size: 16px;
  padding: 10px 1.5px;
}

.background {
  text-align: center;
  width: 200px;
  padding: 20px 0;
  background-color: #fff;
}

.margin {
  width: 90px;
  margin: 0 auto;
  text-align: center;
}