@charset "UTF-8";
/* 回答はここから */
/* q1-1 */
.text-box {
  display: inline-block;
  background-color: #a4b3e9;
  font-size: 16px;
  padding: 10px;
}

.background {
  text-align: center;
  width: 200px;
  padding: 20px 0;
  background-color: #fff;
}

.text-margin {
  width: 90px;
  background-color: #a4b3e9;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.margin {
  width: 200px;
  background-color: #fff;
  padding: 20px 0;
}

/* q1-2 */

.parent {
  display: table;
}

.table {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.table-text {
  padding: 10px;
  background-color: #fff;
  display: inline-block;
}
/* 高さの指定方法が分からない。
なぜ背景と同じ高さを指定すると
背景色が影響される？ */

/* flex */
.flex-parent {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item {
  background-color: #fff;
  padding: 10px;
}

/* position */
.position-parent {
  background-color: #fff;
  height: 150px;
  position: relative;
}

.position-item {
  position: absolute;
  text-align: center;
  background-color: #a4b3e9;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}