@charset "UTF-8";

/* Q5-1 */
/* 横並び１ */
.container {
  display: flex;
}

.item {
  width: 65px;
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: #0bd;
  text-align: center;
}

/* 横並び（右） */
.container--row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

/* 縦並び */
.container--column {
  display: flex;
  flex-direction: column;
}

/* 縦並び(降順) */
.container--column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

/* Q5-2 */
/* 横並び */
.container--nowrap {
  display: flex;
}

/* 折り返し */
.container--wrap {
  display: flex;
  flex-wrap: wrap;
}

/* 折り返しreverse */
.container--wrap-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}

/* Q5-3 */
/* 水平方向（左） */
.container--flex-start {
  display: flex;
  justify-content: flex-start;
}

/* 水平方向（右） */
.container--flex-end {
  display: flex;
  justify-content: flex-end;
}

/* 中央揃え */
.container--center {
  display: flex;
  justify-content: center;
}

/* 両端均等配置 */
.container--space-between {
  display: flex;
  justify-content: space-between;
}

/* 均等配置 */
.container--space-around {
  display: flex;
  justify-content: space-around;
}

/* Q5-4 */
/* grid */
